* {
  font-family: Copperplate, Papyrus, fantasy;
  margin: 0;
  padding: 0;
  text-align: center;
}

#NavBar {
  background-color: #0c2b3f;
  color: white;
}

#NavHome{
  color:white;
}

#NavLogin {
  color:white;
}

#home {
  position: absolute;
  top: 0.5in;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #7eabb9;
  width: 100%;
  height: 100%;
}

#homeheader {
  padding: 0;
  margin: 0;
  background-color: #205380;
  text-align: center;
  width: 100%;
  color: white;
}

#login {
  position: absolute;
  top: 0.5in;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #7eabb9;
  width: 100%;
  height: 100%;
}

#login-header {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #205380;
  color: white;
  width: 100%;
}

#email {
  width: 28.5%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5in;
  margin-bottom: 10px;
}

#email:invalid {
  background-color: #efc9c9;
}


#password {
  width:26.5%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}


#login-button {
  width:10%;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  transition-duration: 0.5s;
  background-color: white;
}

#login-button:hover {
  background-color: #2c81c0;
  color: black;
}

#login-button:focus {
  border-color: dodgerblue;
  background-color: #2c81c0;
  color: black;
}

#register-button {
  width: 10%;
  border-radius: 5px;
  transition-duration: 0.5s;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}


#register-button:hover {
  background-color: #2c81c0;
  color: black;
}
 #register-button:focus {
   border-color: dodgerblue;
   background-color: #2c81c0;
   color: black;
 }

#login-button, #register-button {
  display: inline-block;
}

